<li>
    {{burger_name}}

    {{#if devoured}}
    <button class="eatBurger" data-id="{{id}}" data-newdevour="{{devoured}}">DEVOUR THE BURGER!</button>
    {{/if}}

    <button class="delete-burger" data-id="{{this.id}}">Throw it out!</button>
</li>